<div *ngIf="show" id="bigger">
    <!--The content below is only a placeholder and can be replaced.-->
  <div style="text-align:center" id="contGrande">
    <h1>
      Bienvenidos a {{ title }}!
    </h1>
    <img width="800" alt="Imagen plazoleta" src="assets/imagenes/pizza.jpg">

    <div class="mx-auto" style="width: 350px;">
      <div class="container">
        <div class="row">
          <div class="col-sm">
              <a class="btn btn-lg btn-primary" routerLink="/registro" role="button" id="botonRegistro">Registrate!</a>
          </div>
          <div class="col-sm">
            <a class="btn btn-lg btn-primary" routerLink="/login" role="button" id="botonLogin">Inicia Sesion</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--<button (click)="logout()">Logout</button>-->
</div>

<router-outlet></router-outlet>
