<form>
  <div class="form-group">
    <label for="usuario">Usuario</label>
    <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Usuario" [(ngModel)]="usuario.usuario" >
    <small id="emailHelp" class="form-text text-muted">Ingresa tu usuario para realizar pedidos</small>
  </div>
  <div class="form-group">
    <label for="inputClave">Contraseña</label>
    <input type="password" class="form-control" id="inputClave" name="inputClave" placeholder="Contraseña" [(ngModel)]="usuario.contrasena">
  </div>
  <button type="submit" class="btn btn-primary" id="botonLogin" (click)="iniciarSesion()">Ingresar</button>
</form>

<img width="1050" alt="Imagen banner"id="imgBanner" src="assets/imagenes/banComida.jpg">
